<div fxLayout="row wrap" fxLayoutGap="2px"  >
  <div  fxFlex="700px" fxLayoutAlign="center center" style="background: chocolate" class="box">1. One</div> 
  <div  fxFlex="1 0" fxLayoutAlign="center center" style="background: magenta" class="box">2. Two</div> 
  <div  fxFlex="1 0" fxLayoutAlign="center center"  style="background:green" class="box">4. Four</div>
</div>

<div fxLayout="row wrap" style="height: 100px;">
  <div fxFlex="20%" style="background: goldenrod"></div>
  <div fxFlex style="background: rebeccapurple"></div>
</div>